TOKEN_SECRET= # Your token secret, used to sign JWT tokens
PEPPER= # Your pepper, used for password hashing
NEXT_PUBLIC_DISCORD_CLIENT_ID= # Your Discord bot client ID
NEXT_PUBLIC_DISCORD_REDIRECT_URI= # Your Discord bot redirect URI
DISCORD_CLIENT_SECRET= # Your Discord bot client secret
DISCORD_GUILD_ID= # Discord guild ID, used to check if the user is in the server
DISCORD_WEBHOOK_URL= # Your Discord webhook URL
DISCORD_COMMUNICATION_CHANNEL_ID= # The ID of the channel where the bot will send messages
DISCORD_BOT_TOKEN= # Token of the Discord bot
NEXT_PUBLIC_WEBAPP_URL= # Web app URL