@tailwind base;
@tailwind components;
@tailwind utilities;

/*TODO: Remove from this file */


html {
    background-color: #F2F2F2 !important;
    background-image: url('/images/background.svg');
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
